.DS_Store
~$*
.venv
.claude
bundle-view.html
/**/node_modules/
/app/
/public/assets/external/*.js
/public/node_modules/
/public/data/db-semantic/
/public/data/deploy.config.json
/public/data/llm-web.config.json
/public/link/
/src/page/.router-index.ts
/src/assets/db-schema.json
