.DS_Store
~$*
.venv
.claude
bundle-view.html
todo/
__pycache__/
/**/node_modules/
/app/
/public/assets/external/*.js
/public/node_modules/
/public/data/db-semantic/
/public/data/deploy.config.json
/public/data/llm-web.config.json
/public/data/link/
/src/page/.router-index.ts
/src/assets/db-schema.json
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/deploy/deploy.config.json
