.DS_Store
~$*
.venv
.claude
bundle-view.html
todo/
__pycache__/
/node_modules/
/app/
/dist/
/tmp/
/package/app/assets/external/*.js
/package/data/db-semantic/
/package/data/deploy.config.json
/package/data/llm-web.config.json
/package/data/link/
/src/page/.router-index.ts
/src/assets/db-schema.json
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/deploy/deploy.config.json
