@use 'main.scss' as *;

.navbar.is-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: var(--chat-width);
  z-index: 30;
}

body.viewport-managed.window-small-mobile .navbar.is-fixed-top {
  right: 0;
}

@media (max-width: $small-mobile-limit) {
  body:not(.viewport-managed) .navbar.is-fixed-top {
    right: 0;
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

a.navbar-item,
.navbar-link {
  cursor: pointer;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  position: relative;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
}

.navbar-burger {
  color: #4a4a4a;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  span:nth-child(1) {
    top: calc(50% - 6px);
  }
  span:nth-child(2) {
    top: calc(50% - 1px);
  }
  span:nth-child(3) {
    top: calc(50% + 4px);
  }
  span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
  }
}
.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}
.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 2.5em;
}

.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.navbar-link:not(.is-arrowless)::after {
  right: 1.125em;
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.navbar-menu {
  display: none;
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin desktop-navbar-layout {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-dropdown {
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .navbar-item.is-active .navbar-dropdown,
  .navbar-item.is-hoverable:focus .navbar-dropdown,
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown a.navbar-item {
    padding: 0.375rem 1rem;
    padding-right: 3rem;
    white-space: nowrap;
  }
}

@mixin mobile-navbar-layout {
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar.is-fixed-top .navbar-menu,
  .navbar.is-fixed-top-touch .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
  .navbar-menu {
    padding: 0.5rem 0;
  }
  .navbar-menu.is-active {
    display: block;
  }
}

body.viewport-managed.desktop {
  @include desktop-navbar-layout;
}

body.viewport-managed.mobile {
  @include mobile-navbar-layout;
}

@media (min-width: ($menu-mobile-limit + 1px)) {
  body:not(.viewport-managed) {
    @include desktop-navbar-layout;
  }
}

@media (max-width: $menu-mobile-limit) {
  body:not(.viewport-managed) {
    @include mobile-navbar-layout;
  }
}
