@use 'main.scss';

@mixin mermaid-style {
  .node {
    span,
    rect {
      stroke-width: 2px !important;
      transition: main.$transition-basic-1;
    }
    &:hover {
      span {
        color: main.$color-3 !important;
      }
      rect {
        stroke: main.$color-3 !important;
      }
    }
    rect {
      fill: main.$background-1 !important;
      stroke: main.$color-2 !important;
    }
  }
  span {
    color: main.$color-1 !important;
  }
  .flowchart-link,
  .marker {
    stroke: main.$color-2 !important;
  }
  .marker {
    fill: main.$color-2 !important;
  }

  .flowchart-link {
    @each $entity in main.$entities {
      &[data-id^='L_#{$entity}_'] {
        stroke: main.color($entity) !important;
      }
    }
  }

  .node.clickable {
    @each $entity in main.$entities {
      &[id*='flowchart-#{$entity}-'] rect,
      &[id*='flowchart-#{$entity}-'] path {
        stroke: main.color($entity) !important;
        fill: #{main.color($entity)}44 !important;
      }
      &[id*='flowchart-#{$entity}-']:hover {
        rect,
        path {
          stroke: main.color($entity) !important;
        }
        span {
          color: main.color($entity) !important;
        }
      }
    }
  }

  .labelBkg {
    background-color: transparent !important;
  }
  .edgeLabel {
    background: transparent !important;
    p {
      background-color: main.$background-1 !important;
      border: 1px solid main.$color-2 !important;
      padding: 3px 5px !important;
      border-radius: 10px !important;
      font-size: 10px !important;
    }
  }
}
