@use 'sass:map';

// light mode
$background-2-light: #fff; // header and footer
$background-1-light: #f6f7f8; //#f0f2f5; // main background
$background-3-light: #eceff1; // #f4f6f9; // button download table
$background-green-light: rgba(18, 148, 50, 0.2); // green background
$background-red-light: rgba(187, 38, 63, 0.2); // red background
$background-green-filled-light: rgb(213, 240, 220); // green background
$background-red-filled-light: rgb(238, 209, 215); // red background
$color-1-light: #363636; // text inside table
$color-2-light: #4a4a4a; // text color inside header and footer
$color-3-light: #12999b;
$color-4-light: #ccc; // datatables select
$color-5-light: #dbdbdb; // tab border
$color-6-light: #e7e7e7; // row hovered

// dark mode
$background-2-dark: #151515; // header, footer
$background-1-dark: #0b0b0b; // main background
$background-3-dark: #000; // #17181c; // button download table
$background-green-dark: rgba(8, 190, 54, 0.3); // green background
$background-red-dark: rgba(196, 39, 65, 0.3); // red background
$background-green-filled-dark: rgb(3, 36, 11); // green background
$background-red-filled-dark: rgb(43, 2, 10); // red background
$color-1-dark: #dbdbdb; // text inside table
$color-2-dark: #b5b5b5; // text color inside header and footer
$color-3-dark: #12999b;
$color-4-dark: #555; // datatables select
$color-5-dark: #363636; // tab border
$color-6-dark: #222222; // row hovered

// set light or dark mode
$background-1: var(--background-1);
$background-2: var(--background-2);
$background-3: var(--background-3);
$background-green: var(--background-green);
$background-red: var(--background-red);
$background-green-filled: var(--background-green-filled);
$background-red-filled: var(--background-red-filled);
$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);
$color-6: var(--color-6);
$color-type: var(--color-type);

// icon color
$icon-colors: (
  'homepage': $color-3,
  'organization': #625d8c,
  'folder': #b68b4c,
  'tag': #396496,
  'concept': #2b9fb3,
  'dataset': #79a487,
  'variable': #b26f52,
  'enumeration': #aa4e63,
  'value': #5594bc,
  'type': $color-type,
  'page': $color-type,
  'tab': $color-3,
  'folderTree': $color-3,
  'folderTreeOrganization': #625d8c,
  'folderTreeFolder': #b68b4c,
  'folderTreeTag': #396496,
  'folderTreeConcept': #2b9fb3,
  'pdf': #ae667a,
  'missing': #ae667a,
  'localisation': #ae667a,
  'delete': #ae667a,
  'endDate': #ae667a,
  'stat': #9fb658,
  'entity': #9fb658,
  'nbRow': #9fb658,

  'diagram': #9fb658,
  'deliveryFormat': #9fb658,
  'email': #6a7294,
  'metadataPath': #6a7294,
  'favorite': #d9c85d,
  'compare': #d9c85d,
  'sun': #d9c85d,
  'key': #d4a930,
  'fk': #9f9f9f,
  'level': #9f9f9f,
  'option': #9f9f9f,
  'moon': #9f9f9f,
  'about': $color-3,
  'update': $color-3,
  'description': #d880af,
  'dataSize': #d880af,
  'search': #5e9381,
  'download': #5e9381,
  'downloadClose': #5e9381,
  'downloadFile': #5e9381,
  'upload': #5e9381,
  'phone': #5e9381,
  'surveyType': #5e9381,
  'dataPath': #5e9381,
  'add': #5e9381,
  'startDate': #5e9381,
  'nbResources': #5e9381,
  'preview': #c6695e,
  'date': #c6695e,
  'updateFrequency': #c6695e,
  'dateRange': #c6695e,
  'duplicate': #c6695e,
  'doc': #e0745c,
  'gitCode': #e0745c,
  'timeAgo': #e0745c,
  'nbSource': #e0745c,
  'md': #579fbd,
  'relation': #579fbd,
  'evolution': #579fbd,
  'nextUpdateDate': #579fbd,
  'nbDerived': #579fbd,
  'log': #bd7c6c,
  'frequency': #12999b,
  'colSearch': $color-2,
  'recentSearch': $color-2,
  'features': #e0745c,
  'lastUpdateDate': #e0745c,
);

@function color($name) {
  @if map.has-key($icon-colors, $name) {
    @return map.get($icon-colors, $name);
  } @else {
    @error "No color found for #{$name} in $icon-colors.";
  }
}

@mixin scrollbar-light() {
  scrollbar-color: $color-4 transparent;
  &::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: $rounded;
    background: transparent;
  }
  &:hover::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    background: $color-4;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

$body-gradient-opacity-hex: 22;

// transition
$transition-basic-1: 0.3s ease-out;

// rounded design
$rounded-size: 20px;
$rounded: $rounded-size;
$rounded-bottom: 0 0 $rounded-size $rounded-size;
$rounded-top: $rounded-size $rounded-size 0 0;

$menu-mobile-limit: 1023px;

// Viewport manager custom properties
:root {
  --chat-width: 0px;
  --app-width: 100vw;
}

$entities:
  'organization', 'folder', 'tag', 'concept', 'dataset', 'variable',
  'enumeration', 'value', 'log', 'entity', 'option', 'search', 'favorite',
  'about', 'diagram', 'compare', 'stat', 'doc', 'evolution', 'features',
  'preview', 'frequency';
